<div id="contact_view">
	<form role="form" (ngSubmit)="contactus($event)" name="contactForm" #contactForm="ngForm">
		<div class="form-group">
			<label for="query">Query</label>
			<input name="query" id="id_query" type="text" placeholder="Query" class="form-control" [(ngModel)]="contact.query"  #query="ngModel" required />
		</div>
		<div class="form-group">
			<label for="comments">Comments</label>
			<textarea name="comments" id="id_comments" form="usrform" placeholder="Comments" class="form-control" [(ngModel)]="contact.comments"  #comments="ngModel" required></textarea>
		</div>
		<div class="form-row">
			<button type="submit" class="btn btn-success">Submit</button>
		</div>
	</form>
</div>