<!-- START FOOTER -->
<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container" ng-controller="gitversion">
            <div class="row">
                <div class="col s12 m6"> Copyright © 2017
                    <a class="grey-text black-text" href="#" target="_blank">
                        Cloud Raxak Inc.
                    </a>
                    All rights reserved.</div>
                <div class="col s12 m6 right-align">
                    {% verbatim %}
                    
                    <div class="verionfooter"><i class="material-icons blue-text versionicon">restore</i>  Version: {{gitversion}}</div>
                    {% endverbatim %}
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER -->
