<div id="login_view">
  <!-- <form role="form" (ngSubmit)="LoginUser($event)" name="loginForm" #loginForm="ngForm" novalidate> -->
  <form class="login-form" role="form" (ngSubmit)="onUserLogin($event)" name="loginForm" #loginForm="ngForm">
    <div class="form-group">
      <label for="id_email">Email</label>
      <input name="email" id="id_email" type="text" placeholder="Email" class="form-control" [(ngModel)]="user.email"  #email="ngModel" required />
      <div *ngIf="email.invalid && (email.dirty || email.touched)"
        class="alert alert-danger">
        <div *ngIf="email.errors.required">
          User name is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="id_password">Password</label>
      <input name="password" id="id_password" type="password" placeholder="Password" class="form-control" [(ngModel)]="user.password" #password="ngModel" required />
      <div *ngIf="password.invalid && (password.dirty || password.touched)"
        class="alert alert-danger">
        <div *ngIf="password.errors.required">
          User name is required.
        </div>
      </div>
    </div>
    <div *ngIf="user.status=='failed'" class="alert alert-danger">
      {{user.message}}
    </div>
    
    <div class="form-row">
      <button type="submit" class="btn btn-success">Login</button>
      <button type="button" class="btn btn-default" (click)="RestLogin($event); loginForm.reset()">Reset</button>
      <i>with</i> reset
    </div>
  </form>
</div>